<section id="contact" class="contact-section">
   <div class="contact-section__wrapper container">
      <div class="contact-section__cta">
         <h2 class="section-title"></h2>
         <p class="contact-section__subtitle"></p>
      </div>

      <div class="contact-section__details-form">
         <div class="contact-section__details">
            <h3 class="contact-section__details-title"></h3>
            <p class="contact-section__email">
               <a href=""></a>
            </p>

            <h3 class="contact-section__details-title"></h3>
            <div class="contact-section__social-links">
               <a href="" class="social-icon"></a>
               <a href="" class="social-icon"></a>
               <a href="" class="social-icon"></a>
               <a href="" class="social-icon"></a>
            </div>

            <form class="contact-section__form">
               <h3 class="contact-section__form-title"></h3>
               <div class="form-group">
                  <label for="name" class="sr-only"></label>
                  <input type="text" id="name" class="form-controls" placeholder="Nome">
                  <div class="form-error"></div>
               </div>
               <div class="form-group">
                  <label for="email" class="sr-only"></label>
                  <input type="email" id="email" class="form-control" placeholder="E-mail">
                  <div class="form-error"></div>
               </div>
               <div class="form-group">
                  <label for="message" class="sr-only"></label>
                  <textarea id="message" class="form-control" placeholder="Mensagem"></textarea>
                  <div class="form-error"></div>
               </div>
               <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
         </div>
      </div>
   </div>
</section>