<header class="header">
   <div class="header__content container">
      
      <div class="header__logo">
         <a routerLink="/" class="header__logo-link">FABIANA MONTEIRO</a>
      </div>

      <nav class="header__nav">
         <ul class="header__nav-list">
            <li class="header__nav-item">
               <a routerLink="/" fragment="home" class="header__nav-link">HOME</a>
            </li>
            <li class="header__nav-item">
               <a routerLink="/" fragment="sobre" class="header__nav-link">SOBRE</a>
            </li>
            <li class="header__nav-item">
               <a routerLink="/" fragment="servicos" class="header__nav-link">SERVIÇOS</a>
            </li>
            <li class="header__nav-item">
               <a routerLink="/" fragment="skills" class="header__nav-link">SKILLS</a>
            </li>
            <li class="header__nav-item">
               <a routerLink="/" fragment="portfolio" class="header__nav-link">PORTFÓLIO</a>
            </li>
            <li class="header__nav-item">
               <a routerLink="/" fragment="contato" class="header__nav-link">CONTATO</a>
            </li>
         </ul>
      </nav>

      <div class="header__lang-switcher">
         <a href="#" class="header__lang-link">PT/EN</a>
      </div>

   </div>
</header>