<section id="home" class="hero-section">
   <div class="hero-section__content container">
      <div class="hero-section__text-content">
         <h1 class="hero-section__title">Desenvolvedora Front-end</h1>
         <p class="hero-section__description">Eu sou a Fabiana, desenvolvedora Front-end, focada em criar experiências digitais incríveis, responsivo e acessível!</p>
         <button class="hero-section__button" aria-label="Saiba mais">Saiba mais</button>
      </div>
      <div class="hero-section__image-wrapper">
         <img 
            src="" 
            alt="" 
            class="hero-section__profile-image"
         >
      </div>
   </div>
</section>