<!--<section id="skills" class="skills-section">
   <div class="container">
      <h2 class="section-title">Minhas Habilidades</h2>
      <p class="skills-section__intro">Minhas habilidades, ferramentas e tecnologias que eu uso:</p>
      <div class="skills-section__grid">
         <div class="skill-item">
            <img 
               [src]="skill.icon" 
               [alt]="skill.name" 
               class="skill-item__icon"
            >
         </div>
      </div>
   </div>
</section>-->